.illustration {
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px){
  .illustration {
    padding: 0;
  }
}

@media screen and (max-width: 1024px){
  .illustration {
    width: 100vw;
  }
}
