.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 92px 0 0;
}

@media screen and (max-width: 720px){
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 64px;
    gap: 48px;
  }
}
